.container {
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 100%;
  border: 1px solid;
  padding: 3rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  padding: 4rem 2rem;
}

.filtercontainer{
  padding-top: 1rem;
}

.inputwrapper{
  padding: 0 1rem;
}

.filterby{
  margin-right: 1rem;
}

.groups{
  margin-right: .5rem;
}

.groups, .levels{
  outline: none;
  height: 40px;

}

.search{
  outline: none;
  width: 100%;
  height: 40px;
}

.logo{
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1050px) {
  .grid{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 720px) {
  .grid{
    grid-template-columns: 1fr;
  }
}